.newsItem {
 color: #828282;
 margin-top: 5px;
 align-items: baseline;
 display: flex;  
}

.newsItem_titleLink {
 color: black;
 font-size: 10pt;
 text-decoration: none;
}

.newsItem_itemText {
 flex-grow: 1;
}

.newsItem_domain {
 font-size: 8pt;
 margin-left: 5px;
}

.newsItem_domain > a {
 color: #828282;
 text-decoration: none;
}

.newsItem_rank {
 flex-basis: 25px;
 font-size: 10pt;
 text-align: right;
}

.newsItem_vote {
 flex-basis: 15px;
 text-align: center;
}

.newsItem_subtext {
 font-size: 7pt;
}

.newsItem_subtext > a {
 color: #828282;
 text-decoration: none;
}

.newsItem_subtext > a:hover {
 text-decoration: underline;
}